<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Formulario de Documentos</h1>
<form action="../Controllers/DocumentosController.php" name="formularioDocumentos" method="post">

    <label for="titulo">Titulo</label> <input type="text" name="titulo" id="titulo">
    <label for="descripcion">Descripción</label> <textarea name="descripcion" id="descripcion"></textarea>
    <label for="fechaPubli">Fecha de Publicacion</label> <input type="date" name="fechaPubli" id="fechaPubli">
    <label for="enlaceDocumento">Enlace Documento</label> <input type="text" name="enlaceDocumento" id="enlaceDocumento">
    <label for="Documento">Documento</label> <input type="file" name="Documento" id="Documento">

    <label for="tipo">Tipo</label>
    <select name="tipo" id="tipo">
        <option value="ley">Ley</option>
        <option value="documentacion">Documentacion</option>
        <option value="docRestringida">Documentacion Restringida</option>
    </select>

    <button onclick="submit(this)">Enviar Documento</button>

</form>
</body>
</html>