<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="./Resources/CSS/Menu.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
	</head>
	<body>
		<header>
			<img src="./Resources/Img/logo.png">

		</header>

		 
		<nav>
			<ul class="lista-menu">
				<li class="menu">
					<a href="vistaNoticias.php">
						<div class="iconos">
							<img src="./Resources/Img/noticias.png">
						</div>
						<div class="contenido">
							<h2>Noticias</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioNoticias.php">Publicar Noticia</a></li>
						<li class="subopcion"><a href="vistaNoticias.php">Ver Noticias</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="vistaDocumentos.php">
						<div class="iconos">
							<img src="./Resources/Img/pdf.png">
						</div>
						<div class="contenido">
							<h2>Documentación</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioDocumentos.php">Publicar Documento</a></li>
						<li class="subopcion"><a href="vistaDocumentos.php">Ver Documentos</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="vistaGaleria.php">
						<div class="iconos">
							<img src="./Resources/Img/galeria.png">
						</div>
						<div class="contenido">
							<h2>Galería</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioAlbum.php">Crear Album</a></li>
						<li class="subopcion"><a href="formularioMultimedia.php">Crear Multimedia</a></li>
						<li class="subopcion"><a href="vistaGaleria.php">Ver Galeria</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="vistaEventos.php">
						<div class="iconos">
							<img src="./Resources/Img/eventos.png">
						</div>
						<div class="contenido">
							<h2>Eventos</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioEventos.php">Crear Evento</a></li>
						<li class="subopcion"><a href="vistaEventos.php">Ver Eventos</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="formularioLoginDelegado.php">
						<div class="iconos">
							<img src="./Resources/Img/administrador.png">
						</div>
						<div class="contenido">
							<h2>Usuarios</h2>
						</div>
					</a>
					<ul class="submenu">
						<li class="subopcion"><a href="formularioLoginDelegado.php">Login delegados</a></li>
						<li class="subopcion"><a href="formularioLoginAdministrador.php">Login administrador</a></li>
						<li class="subopcion"><a href="formularioDelegados.php">Solicitar acceso como delegado</a></li>
						<li class="subopcion"><a href="vistaSolicitudes.php">Ver Solicitudes</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</body>
</html>